@(keyword: String)(list :List[String], page :Integer, cat :String)

@main("Welcome to Play 2.0") {
<form action="/find" method="get">
    <select name=cat>
        <option value="Books">Books</option>
        <option value="Baby" >Baby</option>
        <option value="Shoes">Shoes</option>
        <option value="Error">Error</option>
    </select>
    <input type="text" name="keyword">
    <input type="hidden" name="page" value="1">
    <input type="submit">
</form>
    @if(list != null){
        @for(i <- 0 to 9){
            @if(i < list.size()){
                @list.get(i) <br />
            }
        }
        <a href="/find?keyword=@keyword&page=@{page-1}&cat=@cat"><<-</a>
        <a href="/find?keyword=@keyword&page=@{page+1}&cat=@cat">->></a>
    }
}
